.header{
    width: 100%;
    height: 40px;
    background-color: #3498db;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    padding-top: 10px;
}

.shows-list{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
